* {
	margin: 0;
	padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    overflow: hidden;
}

.red {
    color: red!important;
}

.green {
    color: green!important;
}

#overlay {
    margin: 25vh auto;
    /*min-height: 50vh;*/
    width: 70%;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 20px;
}

#title {
    width: 100%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 32px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#subtitle {
    width: 100%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 26px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 40px 0;
}

.container .card {
	position: relative;
	width: 300px;
	height: 400px;
	margin: 20px;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#legal {
    background: url("img/legal.jpeg");
    background-position:center;
}

#illegal {
    background: url("img/illegal.png");
}

#aucun {
    background: url("img/aucun.jpg");
    background-position:center;
}

.container .card .content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.5s;
}

.container .card:hover .content {
	transform: translateY(-20px);
}

.container .card .content .imgBx {
	position: relative;
	width: 150px;
	height: 150px;
	overflow: hidden;
}

.container .card .content .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container .card .content .contentBx h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	margin: 20px 0 10px;
	line-height: 1.1em;
    font-weight: bold;
}

.container .card .sci {
	position: absolute;
	bottom: 50px;
	display: flex;
}

.container .card .sci li {
	list-style: none;
	margin: 0 10px;
	transform: translateY(40px);
	transition: 0.5s;
	opacity: 0;
}

.container .card:hover .sci li {
	transform: translateY(0px);
    z-index: 99;
	opacity: 1;
}

.container .card:hover {
    opacity: 0.7;
}

.container .card .sci li p {
	color: #fff;
	font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}